header{
    display: flex;
    align-items: center;

    position: relative;
}

.logo{
    width: 40%;

    span,h1{
        display: inline-block;
    }

    span{
        font-size: 2rem;
    }

    h1{
        font-family: $fuente2;
        font-size: 1.6rem;
        font-weight: bold;
    }
}

.menu{
    width: 60%;

    ul{
        display: grid;
        grid-template-columns: repeat(6,1fr);

        li{
            display: inline-block;

            a{
                color:$letras;
                text-align: center;
                width: 100%;
                display: inline-block;
                font-size: .8rem;
                &:hover{
                    font-weight: 700;
                }
            }
        }
    }
}