.port{
    margin-top: 3rem ;
    margin-bottom: 3.5rem;

    h2 {
        font-size: 3.5rem ;
        font-weight: 300;
        text-align: center;
        margin-bottom: 0;
    }

    h2.linea {
        position: relative;
        z-index: 1;
    }

    h2.linea:before {
        border-top: 2px solid gray;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 90%;
        z-index: -1;
    }

    h2.linea span {
        background:#fff;
        padding: 0 20px;
    }

    p{
        text-align: center;
        color:gray;
        font-size: 1.2rem;
        margin-top: -4px;
    }
}

.menu_2{
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

section{
    -moz-display: grid;
    -moz-grid-gap: 1.5rem;
    -moz-grid-template-columns: repeat(3,1fr);
    -moz-grid-template-rows: repeat(3,1fr);

    -webkit-display: grid;
    -webkit-grid-gap: 1.5rem;
    -webkit-grid-template-columns: repeat(3,1fr);
    -webkit-grid-template-rows: repeat(3,1fr);

    -o-display: grid;
    -o-grid-gap: 1.5rem;
    -o-grid-template-columns: repeat(3,1fr);
    -o-grid-template-rows: repeat(3,1fr);

    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    margin-bottom: 3rem;

    article{
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    article img{
        width: 50%;
    }
}

.icono_mor{
    background: #d3cfe8;
}

.icono_ver{
    background: #b6e5dd;
}

.icono_azul{
    background: #a5e0f0;
}

.icono_mor1{
    background: $morado2;
}

.icono_oscuro{
    background: $oscuro1;
}

.icono_mor2{
    background: $morado3;   
}