@media(max-width:992px){
    header{
        justify-content: space-between;
    }

    .icon-menu{
        color:lighten($letras, 15%);
        display: initial;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            color:$letras;
        }
    }


    .menu{
        width: 100%;
        position: absolute;
        left: -200%;
        top:50px;
        z-index: 100;
        transition: all 0.7s linear 0.2s;
        ul{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6,1fr);

            background: lighten($morado3,10%);
            padding:0;
        
            li{
                display: block;
                overflow: hidden;

                a{
                    text-align: left;
                    padding: .5rem;
                    width: 98%;
                    display: block;
                    transition: all .3s;
                    &:hover{
                        background: $morado3;
                        color:#fff;
                    }
                }
            }
        }
    }

    .port{
        h2{
            font-size: 3rem;
        }

        p{font-size: 1rem;}
    }

    section{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}

@media(max-width:768px){
    .container{
        width:90%;
    }

    .boton{
        font-size: .8rem;
    }

    .port{
        h2{
            font-size: 2.5rem;
        }

        h2.linea:before {
            width: 90%;
        }
    }

    section{
        padding: 0 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,1fr);
        grid-row-gap:2rem;
    }

    footer{
        p{
            font-size: .8rem;
        }
    }
}

@media(max-width:490px){

    .boton{
        padding: .2rem;
        font-size: .8rem;
        margin-right: .4rem;
        transition: all .3s;
    }

    .logo{
        width: 80%;
    }

    .port{
        h2{
            font-size: 2rem;
            margin-bottom: .5rem;
        }

        h2.linea:before {
            border-top: 2px solid white;
        }

        p{
            font-size: .9rem;
        }
    }

    .menu_2{
        a{
            display: inline-block;
            margin-top: .4rem;
        }
    }
}