/***************FUENTES Y COLORES***************/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');

$fuente1:'Open Sans', sans-serif;
$fuente2:'Nunito Sans', sans-serif;

$verde:#85d1be;
$letras:#2c3339;
$morado1:#d3cfe8;
$azul:#a5e0f0;
$oscuro1:#45443f;
$morado2:#483f52;
$morado3:hsl(270, 1%, 39%);

$borde:1px solid blue;


/***************ESTILOS GENERALES***************/
body{
    font-family: $fuente1;
    background:#fff;
    color:$letras;
}

.icon-menu{
    display: none;
}

.container{
    width: 80%;
    margin:2rem auto;
}

a{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.boton{
    padding: .3rem;
    border-radius: 3px;
    font-size: .9rem;
    margin-right: .5rem;
    transition: all .3s;
}

.boton_verde{
    background: $verde;
    color:#fff;
    &:hover{
        background: darken($verde, 10%);
    }
}

.boton_gris{
    background: #e9e9e9;  
    color:$letras;
    &:hover{
        background: darken(#e9e9e9, 10%);
    }
}


/***************HEADER***************/
@import 'header.scss';

/***************MAIN***************/
@import 'main.scss';

/***************FOOTER***************/
@import 'footer.scss';

/***************RESPONSIVE***************/
@import 'responsive.scss';