/***************FUENTES Y COLORES***************/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap");
/***************ESTILOS GENERALES***************/
body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #2c3339;
}

.icon-menu {
  display: none;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

a {
  text-decoration: none;
  list-style: none;
  font-weight: 600;
}

.boton {
  padding: 0.3rem;
  border-radius: 3px;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  transition: all 0.3s;
}

.boton_verde {
  background: #85d1be;
  color: #fff;
}
.boton_verde:hover {
  background: #60c3aa;
}

.boton_gris {
  background: #e9e9e9;
  color: #2c3339;
}
.boton_gris:hover {
  background: #d0d0d0;
}

/***************HEADER***************/
header {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 40%;
}
.logo span, .logo h1 {
  display: inline-block;
}
.logo span {
  font-size: 2rem;
}
.logo h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.menu {
  width: 60%;
}
.menu ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  color: #2c3339;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 0.8rem;
}
.menu ul li a:hover {
  font-weight: 700;
}

/***************MAIN***************/
.port {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}
.port h2 {
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}
.port h2.linea {
  position: relative;
  z-index: 1;
}
.port h2.linea:before {
  border-top: 2px solid gray;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  z-index: -1;
}
.port h2.linea span {
  background: #fff;
  padding: 0 20px;
}
.port p {
  text-align: center;
  color: gray;
  font-size: 1.2rem;
  margin-top: -4px;
}

.menu_2 {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

section {
  -moz-display: grid;
  -moz-grid-gap: 1.5rem;
  -moz-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-rows: repeat(3, 1fr);
  -webkit-display: grid;
  -webkit-grid-gap: 1.5rem;
  -webkit-grid-template-columns: repeat(3, 1fr);
  -webkit-grid-template-rows: repeat(3, 1fr);
  -o-display: grid;
  -o-grid-gap: 1.5rem;
  -o-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-rows: repeat(3, 1fr);
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 3rem;
}
section article {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section article img {
  width: 50%;
}

.icono_mor {
  background: #d3cfe8;
}

.icono_ver {
  background: #b6e5dd;
}

.icono_azul {
  background: #a5e0f0;
}

.icono_mor1 {
  background: #483f52;
}

.icono_oscuro {
  background: #45443f;
}

.icono_mor2 {
  background: #636264;
}

/***************FOOTER***************/
footer p {
  color: gray;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

/***************RESPONSIVE***************/
@media (max-width: 992px) {
  header {
    justify-content: space-between;
  }

  .icon-menu {
    color: #4d5a64;
    display: initial;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  .icon-menu:hover {
    color: #2c3339;
  }

  .menu {
    width: 100%;
    position: absolute;
    left: -200%;
    top: 50px;
    z-index: 100;
    transition: all 0.7s linear 0.2s;
  }
  .menu ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    background: #7d7c7e;
    padding: 0;
  }
  .menu ul li {
    display: block;
    overflow: hidden;
  }
  .menu ul li a {
    text-align: left;
    padding: 0.5rem;
    width: 98%;
    display: block;
    transition: all 0.3s;
  }
  .menu ul li a:hover {
    background: #636264;
    color: #fff;
  }

  .port h2 {
    font-size: 3rem;
  }
  .port p {
    font-size: 1rem;
  }

  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .boton {
    font-size: 0.8rem;
  }

  .port h2 {
    font-size: 2.5rem;
  }
  .port h2.linea:before {
    width: 90%;
  }

  section {
    padding: 0 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-row-gap: 2rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 490px) {
  .boton {
    padding: 0.2rem;
    font-size: 0.8rem;
    margin-right: 0.4rem;
    transition: all 0.3s;
  }

  .logo {
    width: 80%;
  }

  .port h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .port h2.linea:before {
    border-top: 2px solid white;
  }
  .port p {
    font-size: 0.9rem;
  }

  .menu_2 a {
    display: inline-block;
    margin-top: 0.4rem;
  }
}